
body{
    background-color: rgb(150, 150, 150);
    font-size: 135%
    
}
.wrapper{
    background-color: rgb(25, 24, 24);
    width: 960px;
    margin:0 auto;
    border-radius: 10px;
    padding: 1em;
}

header{
    text-align: center;
    font-size: 230%;
    color:rgb(173, 36, 36);
    background-color: rgb(186, 183, 183);
    /* maybe put image as background like from the flower page */
    padding: .5em
}

.tf2 header{
    color: Orange;
}

.dishonored header{
    color: rgb(57, 104, 142)
}

.pic-right{
    float: right;
    border: 3px solid rgb(173, 36, 36)
}

.tf2 .pic-right{
    border: 3px solid orange
}

.dishonored .pic-right{
    border: 3px solid rgb(57, 104, 142)
}

main{
    color:white;
    padding: .3em;
    font-size: 130%;
    line-height: 1.3;
}

main h1{
    font-size:300%;
    text-align: center;
    color:rgb(173, 36, 36);
}
.tf2 main h1{
    color: orange;
}

.dishonored main h1{
    color: rgb(57, 104, 142)
}

main h3{
    font-size: 120%;
    border-bottom: 3px solid white;
}

nav{
    text-transform: uppercase;
    background-color: #4b4b4e;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav li{
    list-style-type: none;
    padding: .5em;
}

nav li a{
    color: rgb(173, 36, 36);
    text-decoration: none;
    font-size: 115%;
    padding: .3em
}
.tf2 nav li a{
    color:orange
}

.dishonored nav li a{
    color:rgb(57, 104, 142)
}

nav li a:hover{
    background-color: rgb(255, 254, 254);
    border-radius: 2em;
}

.footer{
    text-transform: uppercase;
    background-color: #4b4b4e;
}

.footer ul{
    display: flex;
    justify-content: space-around;
}

.footer li{
    list-style-type: none;
    padding: .2em
}

.footer li a{
    color: rgb(173, 36, 36);
    text-decoration: none;
}

.tf2 .footer li a{
    color: orange
}

.dishonored .footer li a{
    color: rgb(57, 104, 142)
}

.purchasepagetf2{
    padding-bottom: 1em;
    text-align: center;
}
.purchasepagetf2 a{
    font-size: 135%;
    color: orange;
}

.purchasepagemetro{
    padding-bottom: 1em;
    text-align: center;
}

.purchasepagemetro a{
    font-size: 135%;
    color: rgb(173, 36, 36)
}

.purchasepagedis{
    padding-bottom: 1em;
    text-align: center;
}

.purchasepagedis a{
    font-size: 135%;
    color: steelblue;
}